{% extends 'base.html' %}
{% block meta %}
<title>Register</title>
{% endblock meta %} 

{% block content %}
<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #2e1065;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .left-side {
    width: 100%;
    height: 100vh;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    padding: 16px;
  }

  .appname {
    padding: 8px;
    background-color: #ede9fe;
    border-radius: 7px;
    font-weight: 900;
  }

  .desc {
    border-left: 2px solid #2e1065;
    padding-left: 8px;
  }

  .right-side {
    width: 100%;
    height: 100vh;
    background-color: #ede9fe;
    padding: 100px;
    border-radius: 50px 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
  }

  .register {
    padding: 16px;
    display: grid;
    gap: 10px;
  }

  .btn {
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px;
    transform: translateX(-1px) translateY(-1px);
  }

  .btn:hover {
    color: #ded7fb;
    background-color: #2e1065;
    transition: all 100ms;
  }

  input {
    background-color: transparent;
    border: solid 1px #2e1065;
    border-radius: 8px;
    padding: 6px;
    color: #2e1065;
  }

  
  th {
    vertical-align: top;
    text-align: left;
  }

  td {
    padding-left: 12px;
  }





</style>


<div class="container">
  <div class="left-side">
    <h1 class="title">SELAMAT DATANG DI <span class="appname">GOTOKO</span></h1>
    <p class="desc">
      Gotoko is an e-commerce platform that connects small and medium-sized retailers with suppliers, streamlining the process of purchasing goods. It offers a wide range of products, including daily essentials, groceries, and household items.</p> 
  </div>
  <div class="right-side">
    <div class="register">
      <h1>Register</h1>
    
      <form method="POST">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
          <tr>
            <td></td>
            <td>
              <input class="btn" type="submit" name="submit" value="Daftar" />
            </td>
          </tr>
        </table>
      </form>
    
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <p>Already have an account? <a href="{% url 'main:login' %}">Login</a></p>
    </div>
  </div>
</div>

{% endblock content %}
